*{
  margin: 0;
  padding: 0;
}
div {
  text-align: center;

}
.nomeBebida{
  font-size: 30px;
  

}
.descricao{
  font-size: 23px;
}

h1 {
  font-family: "Franklin";
  text-align: center;
  background-color: brown;
  color: white;
}

BODY {
  background-size: 950px;

}

p {
  color: white;

}

h3 {
  color: blanchedalmond;
  background-color: brown;
}

#tabela {
  width: 38%;
  margin: auto;
  height: 100vh;
  background-color: #ccc;
}

h2 {
  color: white;
}
.rodape{
  /* border: solid 1px white; */
  width: 1230px;
}
.coluna1{
  width: 615px;
  /* border: solid 1px white; */
  text-align: justify;
  font-size: 15px;
}
footer {
  background-color:brown;
  padding: 50px;
  color: aliceblue;
  text-align: center;
}
a{
  color:white;
}
.coluna2{
  text-align:right;
}